
<div class="container">
<div class="row">
   <div class="col-sm-12">
        <form class="form-inline">
          <fieldset class="form-group col-sm-11"></fieldset>
          <fieldset class="form-group col-sm-1"><a class="btn btn-primary">+</a></fieldset>
        </form>
        <br>
        <table class="table table-striped">
            <thead>
                <tr class="row">
                    <th class="col-sm-6">Título</th>
                    <th class="col-sm-2">Fecha</th>
                    <th class="col-sm-2">Estado</th>
                    <th class="col-sm-1"></th>
                    <th class="col-sm-1"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let tarea of tareas | async"  class="row">
                  <td class="col-sm-6"><i>{{tarea.titulo}}</i></td>
                  <td class="col-sm-2"><i>{{tarea.fecha | date:'dd-MM-yyyy'}}</i></td>
                  <td class="col-sm-2"><i>{{tarea.estado}}</i></td>
                  <td class="col-sm-1"><a class="btn btn-info">Edit</a></td>
                  <td class="col-sm-1"><a class="btn btn-danger">-</a></td>
                </tr>
            </tbody>
        </table>
   </div>
</div>
</div>
