<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<h1>{{title}}</h1><br>
<div class="container-fluid marco p-1 m-1">
  <form [formGroup]='form'  (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="codigo">Codigo</label>
      <input type="text" class="form-control"
      formControlName="codigo" #codigo>
    </div>
    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input type="text" class="form-control"
      formControlName="nombre" #nombre>
    </div>
    <div formGroupName="aficiones">
      <div class="form-group">
        <label for="aficion1">Aficion 1</label>
        <input type="text" class="form-control"
        formControlName="aficion1" #aficion1>
      </div>
      <div class="form-group">
        <label for="aficion2">Aficion 2</label>
        <input type="text" class="form-control"
        formControlName="aficion2" #aficion2>
      </div>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-success">Submit</button>
    </div>
  </form>
</div>
<div class="container-fluid fondo p-1 m-1">
  Codigo: {{ codigo.value }}<br>
  Nombre: {{ nombre.value }}<br>
  Aficion 1: {{ aficion1.value }}<br>
  Aficion 2: {{ aficion2.value }}<br>
  {{ form.value | json }}
</div>
